<style>
  .Inputsize{
    width: 100px !important;
  }
 
:host ::ng-deep .mat-form-field-wrapper{
  margin: 0 !important;
  padding: 0!important;
}
</style>
<section class="content">
    <div class="content-block">
      <div class="block-header">
        <app-breadcrumb [title]="'Excute Plan'"  [items]="[]" [active_item]="'Upate Progress'"></app-breadcrumb>
      </div>
      <div class="row clearfix">
        
        <div class="card">
          <div class="body">
            <div class="table-responsive">
        <div class="materialTableHeader">
          <div class="row">
            <div class="col-6 ">
              <ul class="header-buttons-left ms-0">
                <li class="dropdown">
                  
                    <h6>{{SiteName}}&nbsp;&nbsp;&nbsp;Start: {{startDate|date}}&nbsp;&nbsp;&nbsp;Total Actual. : {{TotalCompletePlan}} %</h6>
                </li>

              
              </ul>
            </div>
            <div class="col-6">
              <ul class="header-buttons">
              <li class="me-4">
                <button mat-raised-button color="filter" [matMenuTriggerFor]="menu1">Month Filter
                  <mat-icon>filter_list</mat-icon>
                </button>
                <mat-menu #menu1="matMenu">
                  <div style="position: relative; max-width: 200px!important; max-height: 350px;"
                    [perfectScrollbar]>
                    <div class="row">
                      <div class="col-md-6">
                        <h6 class="ms-4 mt-3">search</h6>
                      </div>
                      <div class="col-md-3">
                        <div class="me-2 float-end"><button mat-icon-button color="primary" matTooltip="SEARCH"
                            aria-label="Example icon button with a home icon" (click)="filterFn()">
                            <mat-icon>search</mat-icon>
                          </button></div>
                      </div>
                      <div class="col-md-3">
                        <div class="me-2 float-end"><button mat-icon-button color="warn" matTooltip="CLEAR"
                            (click)="$event.stopPropagation()" aria-label="Example icon button with a home icon"
                            (click)="clearFn()">
                            <mat-icon>clear_all</mat-icon>
                          </button></div>
                      </div>

                    </div>
                    <mat-accordion (click)="$event.stopPropagation()">
                 
                         <mat-expansion-panel class="mt-0">
                              <mat-expansion-panel-header (click)="$event.stopPropagation()">
                                <mat-panel-title style="font-size: 13px;">
                                  Date
                                </mat-panel-title>
                              </mat-expansion-panel-header>
                              <mat-panel-description>
                                <div class="row">
                                  <div class="col-md-12 cs-style" *ngFor="let r of Yearlist; let i = index">
                                    <mat-checkbox (click)="$event.stopPropagation()" class="example-margin"
                                      [(ngModel)]="r.isSelected" (click)="yearListFn(r)">
                                      {{r.date}}
                                    </mat-checkbox>
                                  </div>
                                </div>
                              </mat-panel-description>
                            </mat-expansion-panel>
                    
                    </mat-accordion>
                  </div>
                </mat-menu>
              </li>
              <li class="me-4">
                <button mat-raised-button color="download" [matMenuTriggerFor]="menu">
                  Export<mat-icon>keyboard_arrow_down</mat-icon></button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item matTooltip="XLSX"
                  (click)="Export()"    >
                    <img src="assets/images/icons/xlsx.png" alt="">
                    <span class="ms-1">Download Excel</span>
                  </button>
                 
                  
                </mat-menu>
              </li>
              <li class="me-4">
                <button mat-raised-button  color="primary" (click)="GoBackToList()">
                  <mat-icon class="col-white"  class="ms-1">cancel</mat-icon>Cancel
                </button>
             
              </li>
              <li>
                <button mat-raised-button color="primary" (click)="saveAssignTasks()"> Save</button>
              </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
  <div *ngIf="isTableLoading" class="tbl-spinner">
    <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
    </mat-progress-spinner>
  </div>
      <mat-accordion multi class="example-headers-align ">
        <mat-expansion-panel hideToggle *ngFor="let phase of ProjectPlanTaskList| unique2:'phaseId' let i = index" [expanded]="true" class="mb-2">
          <mat-expansion-panel-header>
            <mat-panel-title>
           
                  <h6>{{phase.phaseTitle}}</h6><br>
                
          </mat-panel-title>
            <mat-panel-description>
              <!-- <ng-container >
                <div class="row ms-2 me-2 mt-2 mb-2">
          <div class="col-md-12 col-12 ms-2 me-2 mt-2">
            <ng-container >
              <h6 *ngIf="phase.phaseId !== 1;">Start:  {{ phase.phaseStartDate|date }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Date: {{ phase.phaseEndDate|date }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Phase wgts:{{ phase.phaseWeightage }} % &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Actual Prog. :{{ phase.taskCompletionProgress }} %</h6> 
            </ng-container >
     
          
        </div>
      
          
        </div>
      </ng-container> -->
      <div class="col-md-4 col-4 ms-2 me-2 mt-2">
        <ng-container *ngIf="phase.displayOrder != 1;">
          <h6>{{ phase.phaseStartDate|date }}&nbsp;&nbsp;-&nbsp;&nbsp;{{ phase.phaseEndDate|date }}</h6> 
        </ng-container >
    </div>
    <div class="col-md-2 col-2 ms-2 me-2 mt-2" >
      <h6 *ngIf="phase.displayOrder != 1;"> Wgts:{{ phase.phaseWeightage }} %&nbsp;&nbsp; </h6> 
    </div>
    <div class="col-md-3 col-3 ms-2 me-2 mt-2" >
      <h6 *ngIf="phase.displayOrder != 1;"> Actual Wgts: {{ (phase.phaseWeightage * phase.taskCompletionProgress) / 100 | number : '1.2-2'}}  %</h6> 
    </div>
    <div class="col-md-3 col-3 ms-2 me-2 mt-2" >
      <h6 *ngIf="phase.displayOrder != 1;">Progress :{{ phase.taskCompletionProgress | number : '1.3-3'}} %</h6> 
    </div>
   
    
            </mat-panel-description>  
          </mat-expansion-panel-header>
          <div class="row mb-4 table-responsive"> 
            <div class="col-md-12 col-12 col-xs-12 col-sm-12 table-responsive">
            <table class="table table-sm">
                <thead>
                  <tr>
                    <th scope="col" width="5%">#</th>
                    <th scope="col" width="55%">Task</th>
                  
                    <th scope="col"  width="10%" >Duration</th>
                    <th scope="col"  width="10%" >Start Date</th>
                    <th scope="col"  width="10%" >End Date</th>
                    <th scope="col"  width="10%" *ngIf="phase.displayOrder != 1;">Assign To</th>
                    <th scope="col"  width="10%" style="white-space:nowrap" >
                      <ng-container *ngIf="phase.displayOrder != 1;"> Plan % </ng-container>
                      </th>
                    
                    <th  scope="col"  width="10%" style="white-space:nowrap" >
                      <ng-container *ngIf="phase.displayOrder != 1;"> Actual % </ng-container>
                
                    </th>
                
                    
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let desc of ProjectPlanTaskList| filterBy: 'phaseId': phase.phaseId let i = index">
                    <ng-container *ngIf="desc.level == 0 && desc.taskId!=-1">
                      <tr>
                      <td >
                        <ng-container *ngIf="desc.isChild == 1; else noChildno">
                            <h5 style="font-size: 1.3rem!important">{{i+1}}</h5>  
                          </ng-container>
                          <ng-template #noChildno>
                            {{i+1}}
                          </ng-template>
                    </td>
                      <td style=" padding-left: 0px !important">
                        <ng-container *ngIf="desc.isChild == 1; else noChild">
                            <h5 style="font-size: 1.3rem!important">{{desc.title}}</h5>
                          </ng-container>
                          <ng-template #noChild>
                            {{ desc.title }}
                          </ng-template>
                    </td>
                      <td>
                        <ng-container *ngIf="desc.isChild == 1; else noChilduration">
                      
                          </ng-container>
                          <ng-template #noChilduration>
                            {{desc.durationWithunit}}
                          </ng-template>
                    </td>
                    <td style="white-space:nowrap">
                      <ng-container *ngIf="desc.isChild == 1; else noChiltaskAssignmentStartDate1">
                        <h5 style="font-size: 1.3rem!important">{{ desc.taskAssignmentStartDate|date }}</h5>
                      </ng-container>
                      <ng-template #noChiltaskAssignmentStartDate1>
                        {{ desc.taskAssignmentStartDate|date }}
                      </ng-template>
                      
                    </td>
                    <td style="white-space:nowrap"> 
                      <ng-container *ngIf="desc.isChild == 1; else noChiltaskAssignmentEndDate1">
                        <h5 style="font-size: 1.3rem!important"> {{ desc.taskAssignmentEndDate|date }}</h5>
                      </ng-container>
                      <ng-template #noChiltaskAssignmentEndDate1>
                        {{ desc.taskAssignmentEndDate|date }}
                      </ng-template>
                      
                    </td>
                    
                    <td *ngIf="desc.displayOrder != 1;" style="white-space:nowrap" > 
                      <ng-container *ngIf="desc.isChild == 0;">
                         {{ desc.assignToName }}
                      </ng-container>   
                    </td>
                    <td *ngIf="desc.displayOrder != 1;"  style="white-space:nowrap" matTooltip="Plan wgts: {{desc.weightage}}    Actual wgts: {{desc.actualWeightage}}"> 
                      <ng-container *ngIf="desc.isChild == 0">
                        {{ desc.completionProgress| number: '1.1-2' }} %
                      </ng-container>
                      <ng-container *ngIf="desc.isChild == 1">
                        <h5 style="font-size: 1.3rem!important"> {{ desc.completionProgress| number: '1.1-2' }} %</h5>
                      </ng-container>      
                    </td>
                    
                    <td>
                        <ng-container *ngIf="desc.displayOrder != 1;">
                          <!-- <ng-container *ngIf="desc.isChild == 1;">
                            <h5 style="font-size: 1.3rem!important">{{ desc.progress| number: '1.1-2' }} %</h5>    
                          </ng-container> -->
                          

                        <mat-form-field class="example-full-width Inputsize" *ngIf="desc.isChild == 0;"  appearance="outline">
                          <mat-label>Progress(in %)</mat-label>
                          <mat-select ngDefaultControl [(ngModel)]="desc.progress" [disabled]="desc.assignTo === -1"> 
                              <mat-option *ngFor="let percent of percentages" [value]="percent">
                                  {{ percent }}%
                                </mat-option>
                          </mat-select>
                          </mat-form-field>
                        </ng-container>

                      
                    </td>

                      </tr>
                 </ng-container>
                    <ng-container *ngFor="let sub of ProjectPlanTaskList | filterBy: 'taskParentId': desc.taskId let j = index">
                        <ng-container *ngIf="sub.level==1">
                        <ng-container >
                          <tr>
                            <th scope="row">{{i+1}}.{{ j + 1 }}</th>
                            <td class="sub">
                              <ng-container *ngIf="sub.isChild == 1; else noChildsub">
                                <h5 style="font-size: 1.15rem!important">{{sub.title}}</h5>
                              </ng-container>
                              <ng-template #noChildsub>
                                {{ sub.title }}
                              </ng-template>
                            </td>
                            <td>
                                <div *ngIf="sub.isChild == 0;">{{ sub.durationWithunit }}</div>
                            </td>
                            <td style="white-space:nowrap">
                             

                              <ng-container *ngIf="sub.isChild == 1; else taskAssignmentStartDate2">
                                <h5 style="font-size: 1.15rem!important">{{ sub.taskAssignmentStartDate|date }}</h5>
                              </ng-container>
                              <ng-template #taskAssignmentStartDate2>
                                {{ sub.taskAssignmentStartDate|date }}
                              </ng-template>

                          </td>
                          <td style="white-space:nowrap">
                            <ng-container *ngIf="sub.isChild == 1; else taskAssignmentEndDate2">
                              <h5 style="font-size: 1.15rem!important">{{ sub.taskAssignmentEndDate|date }}</h5>
                            </ng-container>
                            <ng-template #taskAssignmentEndDate2>
                              {{ sub.taskAssignmentEndDate|date }}
                            </ng-template>
                            
                          
                          </td>
                          <td style="white-space:nowrap">
                            <ng-container *ngIf="sub.isChild == 0;">
                              {{ sub.assignToName}}
                            </ng-container >
                          
                          </td>
                          <td style="white-space:nowrap"  matTooltip="Plan wgts: {{sub.weightage}}    Actual wgts: {{sub.actualWeightage}}">
                            <ng-container *ngIf="sub.isChild == 0;">
                              {{ sub.completionProgress| number: '1.1-2' }} %
                            </ng-container >
                            <ng-container *ngIf="sub.isChild == 1">
                              <h5 style="font-size: 1.15rem!important"> {{ sub.completionProgress| number: '1.1-2' }} %</h5>
                            </ng-container>
                          </td>
                          
                            <td>
                              <!-- <ng-container *ngIf="sub.isChild == 1;">
                                <h5 style="font-size: 1.15rem!important">{{ sub.progress| number: '1.1-2' }} %</h5>    
                              </ng-container> -->
                                <mat-form-field class="example-full-width Inputsize" *ngIf="sub.isChild == 0;"  appearance="outline">
                                  <mat-label>Progress(in %)</mat-label>
                                      <mat-select ngDefaultControl [(ngModel)]="sub.progress" [disabled]="sub.assignTo === -1">  
                                          <mat-option *ngFor="let percent of percentages" [value]="percent">
                                              {{ percent }}%
                                            </mat-option>
                                      </mat-select>
                                  </mat-form-field>
                            
                            </td>
                       

                          </tr>
                        </ng-container>
                       </ng-container>
                    
                          <ng-container *ngFor="let sub2 of ProjectPlanTaskList | filterBy: 'taskParentId': sub.taskId  let p = index">
                            <tr *ngIf="sub2.level == 2">
                                <th scope="row">{{i+1}}.{{ j + 1 }}.{{ p + 1 }}</th>
                                <td class="sub2">
                                  <ng-container *ngIf="sub2.isChild == 1; else noChildsub2">
                                    <h6>{{ sub2.title }}</h6>
                                  </ng-container>
                                  <ng-template #noChildsub2>
                                    {{ sub2.title }}
                                  </ng-template>

                                </td>
                           
                                <td><h6 *ngIf="sub2.isChild != 1;">{{ sub2.durationWithunit }}</h6></td>
                                <td>
                                  <ng-container *ngIf="sub2.isChild == 1; else taskAssignmentStartDate3">
                                    <h6>{{ sub2.taskAssignmentStartDate|date }}</h6>
                                  </ng-container>
                                  <ng-template #taskAssignmentStartDate3>
                                    {{ sub2.taskAssignmentStartDate|date }}
                                  </ng-template>
                                 
                                 
                              </td>
                              <td>
                                
                                <ng-container *ngIf="sub2.isChild == 1; else taskAssignmentEndDate3">
                                  <h6>{{ sub2.taskAssignmentEndDate|date }}</h6>
                                </ng-container>
                                <ng-template #taskAssignmentEndDate3>
                                  {{ sub2.taskAssignmentEndDate|date }}
                                </ng-template>
                              </td>
                              <td>
                                <ng-container *ngIf="sub2.isChild == 0;">
                                  {{ sub2.assignToName }}
                                </ng-container >
                              </td>
                              <td>
                                <ng-container *ngIf="sub2.isChild == 0;"  matTooltip="Plan wgts: {{sub2.weightage}}    Actual wgts: {{sub2.actualWeightage}}">
                                  {{ sub2.completionProgress | number: '1.1-2' }} %
                                </ng-container >
                                <ng-container *ngIf="sub2.isChild == 1">
                                  <h6 > {{ sub2.completionProgress| number: '1.1-2' }} %</h6>
                                </ng-container>
                              </td>
                              
                                <td>
                                  <!-- <ng-container *ngIf="sub2.isChild == 1;">
                                    <h6>{{ sub2.progress| number: '1.1-2' }} %</h6>   
                                  </ng-container> -->
                                    <mat-form-field class="example-full-width Inputsize" *ngIf="sub2.isChild == 0;"    appearance="outline">
                                      <mat-label>Progress(in %)</mat-label>
                                      <mat-select ngDefaultControl [(ngModel)]="sub2.progress" [disabled]="sub2.assignTo === -1"> 
                                          <mat-option *ngFor="let percent of percentages" [value]="percent" >
                                              {{ percent }}%
                                            </mat-option>
                                      </mat-select>
                                      </mat-form-field>
                                </td>
                              </tr>


                              <ng-container *ngFor="let sub3 of ProjectPlanTaskList | filterBy: 'taskParentId': sub2.taskId  let p3 = index">
                                <tr *ngIf="sub3.level == 3">
                                    <th scope="row">{{i+1}}.{{ j + 1 }}.{{ p + 1 }}.{{ p3 + 1 }}</th>
                                    <td class="sub3">{{ sub3.title }}</td>
                                    <td >
                                        <ng-container *ngIf="sub3.isChild == 0;">{{ sub3.durationWithunit }} </ng-container>   
                                       
                                    </td>
                                
                                    <td>

                                      <ng-container >
                                        {{ sub3.taskAssignmentStartDate|date }}
                                      </ng-container >
                                      
                                  </td>
                                  <td>
                                    <ng-container >
                                      {{ sub3.taskAssignmentEndDate|date }}
                                    </ng-container >
                                     
                                  </td>
                                  <td>
                                    <ng-container *ngIf="sub3.isChild == 0;">
                                      {{ sub3.assignToName }}
                                    </ng-container >
                                     
                                  </td>
                                 
                                  <td>
                                    <ng-container  matTooltip="Plan wgts: {{sub3.weightage}}    Actual wgts: {{sub3.actualWeightage}}">
                                      {{ sub3.completionProgress | number: '1.1-2' }} %
                                    </ng-container >
                                  
                                     
                                  </td>

                                    <td>
                                      <!-- <ng-container *ngIf="sub3.isChild == 1;">
                                        {{ sub3.progress| number: '1.1-2' }} %
                                      </ng-container> -->
                                        <mat-form-field class="example-full-width Inputsize" *ngIf="sub3.isChild == 0;"    appearance="outline">
                                          <mat-label>Progress(in %)</mat-label>
                                          <mat-select ngDefaultControl [(ngModel)]="sub3.progress" [disabled]="sub3.assignTo === -1">  
                                              <mat-option *ngFor="let percent of percentages" [value]="percent">
                                                  {{ percent }}%
                                                </mat-option>
                                          </mat-select>
                                          </mat-form-field>
                                    
                                    </td>                         
                                  </tr>
                                  <ng-container *ngFor="let sub4 of ProjectPlanTaskList | filterBy: 'taskParentId': sub3.taskId  let p4 = index">
                                    <tr *ngIf="sub4.level == 4" >
                                        <th scope="row lasttext">{{i+1}}.{{ j + 1 }}.{{ p + 1 }}.{{ p3 + 1 }}.{{ p4 + 1 }}</th>
                                        <td class="sub4 lasttext">{{ sub4.title }}</td>
                                        <!-- <td class="lasttext"> {{sub.weightage}} %</td> -->
                                        <td class="lasttext">{{ sub4.durationWithunit }}</td>
                                        <td>
                                          <ng-container *ngIf="sub4.isChild == 0;">
                                            {{ sub4.taskAssignmentEndDate|date }}
                                          </ng-container >
                                          
                                      </td>
                                      <td>
                                        <ng-container *ngIf="sub4.isChild == 0;">
                                          {{ sub4.taskAssignmentEndDate|date }}
                                        </ng-container>
                                      </td>
                                      <td>
                                        <ng-container *ngIf="sub4.isChild == 0;">
                                          {{ sub4.assignToName }}
                                        </ng-container>
                                      </td>
                                     
                                      <td>
                                        <ng-container *ngIf="sub4.isChild == 0;"  matTooltip="Plan wgts: {{sub4.weightage}}    Actual wgts: {{sub4.actualWeightage}}">
                                          {{ sub4.completionProgress| number: '1.1-2' }} %
                                        </ng-container>
                                      </td>
                                        <td>
                                            <mat-form-field class="example-full-width Inputsize" *ngIf="sub4.isChild == 0;"   appearance="outline">
                                              <mat-label>Progress(in %)</mat-label>
                                              <mat-select ngDefaultControl [(ngModel)]="sub4.progress"  [disabled]="sub4.assignTo === -1"> 
                                                  <mat-option *ngFor="let percent of percentages" [value]="percent">
                                                      {{ percent }}%
                                                    </mat-option>
                                              </mat-select>
                                              </mat-form-field>
                                            
                                        </td>
                                      </tr>
                                  </ng-container>
                              </ng-container>
                          </ng-container> 
                      </ng-container>
                  </ng-container>
            </tbody>
              </table>
            </div>
         </div>
        </mat-expansion-panel>
      </mat-accordion>
   
  </div>
</div>
  </section>
